body {
    margin: 0px;
    padding: 0px;
    background: #000000;
}

#task {
    height: 80vh;
}

#task p {
    color: #e6e9ea;
    width: 50%;
    padding-left: 100px;
    font-family: 'Montserrat', sans-serif;
}

#task1 {
    position: relative;
    touch-action: none;
    color: #e6e9ea;
    /*    width: 100%;*/
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #e6e9ea;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: normal;
}

#container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#text {
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    height: 100vh;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

#heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1px;
    margin-bottom: 420px;
    margin-left: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #07010F;
    font-size: 6.25rem;
    line-height: 100px;
    letter-spacing: normal;
    mix-blend-mode: difference;
}

#block1 {
    height: 80vh;
}

#block1 p {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    padding-bottom: 100px;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #e6e9ea;
    text-align: center;
}


.block2 {
    /*  height: 100vh;*/
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.block2 #block2left {
    float: left;
    width: 100%;
    flex: 1;
}

.block2 #block2right {
    float: right;
    width: 100%;
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
    /*  padding-top: 200px;*/
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #e6e9ea;
    text-align: left;
}



#block3 {
    /*  height: 100vh;*/
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

#block3 #block3left {
    float: left;
    width: 50%;

    padding-left: 100px;
    padding-right: 100px;
    /*  padding-top: 200px;*/
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #e6e9ea;
    text-align: left;
}

#block3 #block3right {
    float: right;
    width: 50%;

}


#block4 {
    /*  height: 100vh;*/
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

#block4 #block4left {
    float: left;
    width: 50%;


}

#block4 #block4right {
    float: right;
    width: 50%;

    padding-left: 100px;
    padding-right: 100px;
    /*  padding-top: 200px;*/
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #e6e9ea;
    text-align: left;

}


#block5 {
    /*  height: 100vh;*/
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

#block5 #block5left {
    float: left;
    width: 50%;

    padding-left: 100px;
    padding-right: 100px;
    /*  padding-top: 200px;*/
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #e6e9ea;
    text-align: left;

}

#block5 #block5right {
    float: right;
    width: 50%;

    padding-left: 100px;
    padding-right: 100px;
    /*  padding-top: 200px;*/
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #e6e9ea;
    text-align: left;
}

.logo{
  padding-top: 100px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

.footer{
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color:#e6e9ea;
}


